<div class="app-title">
  <h1>{{ title.toUpperCase() }}</h1>
  <p>{{ subtitle }}</p>
</div>

<ul class="distritos-list">
  @for (Distrito of Distritos(); track Distrito.DistritoId) {
    <li>
      {{ Distrito.DistritoId }}
      <input type="text"
        (keydown.enter)="modificarDistrito(Distrito.DistritoId, $event)"
        [value]="Distrito.Distrito"
      />
      <button (click)="borrarDistrito(Distrito.DistritoId)">Borra distrito {{ Distrito.DistritoId }}</button>
    </li>
  } @empty {
    <li>Nada que mostrar.</li>
  }
  <li>
    <input placeholder="Distrito" type="text" #distritoInput (keydown.enter)="agregarDistrito(distritoInput.value, cantonIdInput.value, valoracionInput.value)" />
    <input placeholder="CantonId" type="number" #cantonIdInput (keydown.enter)="agregarDistrito(distritoInput.value, cantonIdInput.value, valoracionInput.value)" />
    <select #valoracionInput (keydown.enter)="agregarDistrito(distritoInput.value, cantonIdInput.value, valoracionInput.value)">
      <option value="Excelente">Excelente</option>
      <option value="Bueno">Bueno</option>
      <option value="Regular">Regular</option>
    </select>
    <button (click)="agregarDistrito(distritoInput.value, cantonIdInput.value, valoracionInput.value)">Agregar</button>
  </li>
</ul>