.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: 100%;
  padding: 0px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.left-inputs, .right-inputs {
  display: flex;
  align-items: center;
}

.input-container label, .input-container input, .input-container button {
  margin: 5px;
}

.wide-input {
  width: 200px; 
  max-width: 300px;
  padding: 10px;
}

.small-input {
  width: 100px;
  max-width: 100px; 
  padding: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto; /* Agregar scroll horizontal para tablas grandes */
}

.body-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.body-table th, .body-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.body-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.body-table th.action-col {
  width: 150px; 
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn-add {
  background-color: #3461b4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 150px; 
}

.btn-add:hover {
  background-color: #6dacc9;
}

.btn-edit {
  background-color: #76bbbb;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10%; /* Rounded corners */
}

.btn-delete {
  background-color: #f44336;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.btn-deactivate {
  background-color:  #c5837e;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.btn-activate{
  background-color:#22bb67;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.btn-toggle-deactivate {
  background-color: #c24137e8;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px; /* Reduced padding to make the button smaller */
  font-size: 26px; /* Reduced font size to make the text smaller */
  border-radius: 25%; /* Rounded corners */
  
}

.btn-toggle-activate {
  background-color: #3a6fac;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px; /* Reduced padding to make the button smaller */
  font-size: 26px; /* Reduced font size to make the text smaller */
  border-radius: 25%; /* Rounded corners */
}

.btn-edit, .btn-delete {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-inputs, .right-inputs {
    width: 100%;
    justify-content: flex-start;
  }

  .input-container label, .input-container input, .input-container button {
    width: 100%;
    max-width: none;
  }

  .input-container label {
    display: inline-block;
    width: 100px; /* Ancho fijo para las etiquetas */
  }

  .wide-input, .small-input {
    width: 100%;
  }

  .body-table th, .body-table td {
    font-size: 14px; 
  }

  .card {
    width: 90%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}