<div class="app-title">
  <h1>{{ title.toUpperCase() }}</h1>
  <p>{{ subtitle }}</p>
</div>

<ul class="docentes-list">
  @for (Docente of Docentes(); track Docente.DocenteId) {
    <li class="docente-item">
      <div>
        <label>ID:</label>
        {{ Docente.DocenteId }}
      </div>
      <div>
        <label>Identificación:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'nombreInput' + Docente.DocenteId)"
          [value]="Docente.Identificacion"
          name="Identificacion"
          id="identificacionInput{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Nombre:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'apellido1Input' + Docente.DocenteId)"
          [value]="Docente.Nombre"
          name="Nombre"
          id="nombreInput{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Apellido1:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'apellido2Input' + Docente.DocenteId)"
          [value]="Docente.Apellido1"
          name="Apellido1"
          id="apellido1Input{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Apellido2:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'correoInput' + Docente.DocenteId)"
          [value]="Docente.Apellido2"
          name="Apellido2"
          id="apellido2Input{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Correo:</label>
        <input type="email"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'direccionInput' + Docente.DocenteId)"
          [value]="Docente.Correo"
          name="Correo"
          id="correoInput{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Dirección:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'telefonoInput' + Docente.DocenteId)"
          [value]="Docente.Direccion"
          name="Direccion"
          id="direccionInput{{Docente.DocenteId}}"
        />
      </div>
      <div>
        <label>Teléfono:</label>
        <input type="text"
          (keydown.enter)="modificarDocente(Docente.DocenteId, $event); nextField($event, 'nextInput' + Docente.DocenteId)"
          [value]="Docente.Telefono"
          name="Telefono"
          id="telefonoInput{{Docente.DocenteId}}"
        />
      </div>
      <button (click)="borrarDocente(Docente.DocenteId)">Borrar docente {{ Docente.DocenteId }}</button>
    </li>
  } @empty {
    <li>Nada que mostrar.</li>
  }
  <li class="docente-item">
    <input placeholder="Identificación" type="text" #identificacionInput (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'nombreInput')" />
    <input placeholder="Nombre" type="text" #nombreInput (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'apellido1Input')" />
    <input placeholder="Apellido1" type="text" #apellido1Input (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'apellido2Input')" />
    <input placeholder="Apellido2" type="text" #apellido2Input (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'correoInput')" />
    <input placeholder="Correo" type="email" #correoInput (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'direccionInput')" />
    <input placeholder="Dirección" type="text" #direccionInput (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'telefonoInput')" />
    <input placeholder="Teléfono" type="text" #telefonoInput (keydown.enter)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value); nextField($event, 'nextInput')" />
    <button (click)="agregarDocente(identificacionInput.value, nombreInput.value, apellido1Input.value, apellido2Input.value, correoInput.value, direccionInput.value, telefonoInput.value)">Agregar</button>
  </li>
</ul>
