<div class="container" style="padding-top: 60px;"> 
  <div class="card">
    <h1 class="center">{{ title }}</h1> 
    <div class="input-container">
      <div class="left-inputs">
        <label for="search">Buscar: </label>
        <input id="search" [(ngModel)]="searchTerm" (input)="filtrarDocentes()" type="text" class="wide-input"/>
        <label for="filterField">Filtrar por: </label>
        <select id="filterField" [(ngModel)]="filterField" (change)="filtrarDocentes()" class="wide-input">
          <option value="Identificacion">Identificación</option>
          <option value="Nombre">Nombre</option>
          <option value="Apellido1">Apellido1</option>
          <option value="Apellido2">Apellido2</option>
          <option value="Correo">Correo</option>
          <option value="Direccion">Dirección</option>
          <option value="Telefono">Teléfono</option>
        </select>
      </div>
      <div class="right-inputs">       
        <button (click)="openModal()" class="btn-add">
          <i class="fas fa-plus"></i> Crear
        </button>
        
      </div>
    </div>
  </div>

  <div class="table-container card">
    <table class="body-table">
      <thead>
        <tr>         
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th class="action-col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Docente of docentesFiltrados; trackBy: trackByDocenteId">
          <td>{{ Docente.Identificacion }}</td>
          <td>{{ Docente.Nombre }}</td>
          <td>{{ Docente.Apellido1 }}</td>
          <td>{{ Docente.Apellido2 }}</td>
          <td>{{ Docente.Correo }}</td>
          <td>{{ Docente.Direccion }}</td>
          <td>{{ Docente.Telefono }}</td>
          <td class="action-buttons">
            <button (click)="editDocente(Docente)" class="btn-edit">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button (click)="desactivarDocente(Docente.DocenteId, !Docente.Estado)" [ngClass]="Docente.Estado ? 'btn-toggle-activate' : 'btn-toggle-deactivate'" [attr.title]="Docente.Estado ? 'Desactivar' : 'Activar'">
              <i class="fas" [ngClass]="Docente.Estado ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
            </button>
            
          </td>
        </tr>
        <tr *ngIf="docentesFiltrados.length === 0">
          <td colspan="8">Nada que mostrar.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ inputDocenteId === '' ? 'Crear Docente' : 'Editar Docente' }}</h2>
    
    <!-- Contenedor principal del formulario -->
    <div class="form-group-container">
      
      <!-- Primera columna de campos -->
      <div class="form-group-column">
        <div class="form-group">
          <label for="inputIdentificacion">Identificación: </label>
          <input id="inputIdentificacion" [(ngModel)]="inputIdentificacion" type="text" class="wide-input"/>
        </div>  
        <div class="form-group">
          <label for="inputApellido2">Apellido2: </label>
          <input id="inputApellido2" [(ngModel)]="inputApellido2" type="text" class="wide-input"/>
        </div>
        <div class="form-group">
          <label for="inputProvincia">Provincia: </label>
          <select id="inputProvincia" [(ngModel)]="inputProvinciaId" (change)="onProvinciaChange()" class="wide-input">
            <option *ngFor="let provincia of Provincias()" [value]="provincia.ProvinciaId">{{ provincia.Provincia }}</option>
          </select>
        </div>
      </div>

      <!-- Segunda columna de campos -->
      <div class="form-group-column"> 
        <div class="form-group">
          <label for="inputNombre">Nombre: </label>
          <input id="inputNombre" [(ngModel)]="inputNombre" type="text" class="wide-input"/>
        </div>            
        <div class="form-group">
          <label for="inputTelefono">Teléfono: </label>
          <input id="inputTelefono" [(ngModel)]="inputTelefono" type="text" class="wide-input"/>
        </div> 
        <div class="form-group">
          <label for="inputCanton">Cantón: </label>
          <select id="inputCanton" [(ngModel)]="inputCantonId" (change)="onCantonChange()" class="wide-input">
            <option *ngFor="let canton of CantonesFiltrados" [value]="canton.CantonId">{{ canton.Canton }}</option>
          </select>
        </div>      
      </div>

      <!-- Tercera columna de campos -->
      <div class="form-group-column">
        <div class="form-group">
          <label for="inputApellido1">Apellido1: </label>
          <input id="inputApellido1" [(ngModel)]="inputApellido1" type="text" class="wide-input"/>
        </div> 
        <div class="form-group">
          <label for="inputCorreo">Correo: </label>
          <input id="inputCorreo" [(ngModel)]="inputCorreo" type="email" class="wide-input"/>
        </div>         
              
        <div class="form-group">
          <label for="inputDistrito">Distrito: </label>
          <select id="inputDistrito" [(ngModel)]="inputDistritoId" class="wide-input">
            <option *ngFor="let distrito of DistritosFiltrados" [value]="distrito.DistritoId">{{ distrito.Distrito }}</option>
          </select>
        </div>

      </div>
    </div>

    <!-- Botón de acción -->
    <div class="form-group">
      <button (click)="inputDocenteId === '' ? agregarDocente() : modificarDocente()" class="btn-add">
        {{ inputDocenteId === '' ? 'Crear' : 'Guardar' }}
      </button>
    </div>
  </div>
</div>

