<div class="container" style="padding-top: 60px;">
  <div class="card">
    <h1 class="center">{{ title.toUpperCase() }}</h1>
    <div class="input-container">
      <div class="left-inputs">
        <label for="search">Buscar: </label>
        <input id="search" [(ngModel)]="searchTerm" (input)="filtrarPeriodos()" type="text" class="wide-input"/>
        <label for="filterField">Filtrar por: </label>
        <select id="filterField" [(ngModel)]="filterField" (change)="filtrarPeriodos()" class="wide-input">
          <option value="Nombre">Nombre</option>
          <option value="Estado">Estado</option>
        </select>
      </div>
      <div class="right-inputs">
        <button (click)="openModal()" class="btn-add">
          <i class="fas fa-plus"></i> Crear
        </button>
      </div>
    </div>
  </div>

  <div class="table-container card">
    <table class="body-table">
      <thead>
        <tr>
          <th>Nombre</th> 
          <th class="action-col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let periodo of periodosFiltrados; trackBy: trackByPeriodoId">
          <td>{{ periodo.Nombre }}</td>   
         <td class="action-buttons">
            <button (click)="editPeriodo(periodo)" class="btn-edit">
              <i class="fas fa-edit"></i> Editar
            </button>
            <!-- <button (click)="borrarPeriodo(periodo.PeriodoAcademicoId)" class="btn-delete">
              <i class="fas fa-trash-alt"></i> Borrar
            </button>           -->
            <button (click)="desactivarPeriodo(periodo.PeriodoAcademicoId, !periodo.Estado)" [ngClass]="periodo.Estado ? 'btn-toggle-activate' : 'btn-toggle-deactivate'" [attr.title]="periodo.Estado ? 'Desactivar' : 'Activar'">
              <i class="fas" [ngClass]="periodo.Estado ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
            </button>           
          </td>
        </tr>
        <tr *ngIf="periodosFiltrados.length === 0">
          <td colspan="5">Nada que mostrar.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal" [class.show]="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ inputPeriodoId === '' ? 'Crear Periodo Académico' : 'Editar Periodo Académico' }}</h2>
    
    <div class="form-group">
      <label for="inputNombre">Nombre: </label>
      <input id="inputNombre" [(ngModel)]="inputNombre" type="text" class="wide-input"/>
    </div>
    
    <div class="form-group">
      <button (click)="inputPeriodoId === '' ? agregarPeriodo() : modificarPeriodo()" class="btn-add">
        {{ inputPeriodoId === '' ? 'Crear' : 'Guardar' }}
      </button>
    </div>
  </div>
</div>
