<div class="app-title">
  <h1>{{ title.toUpperCase() }}</h1>
  <p>{{ subtitle }}</p>
</div>

<ul class="cursos-list">
  @for (Curso of Cursos(); track Curso.CursoId) {
    <li class="curso-item">
      <div>
        <label>ID:</label>
        {{ Curso.CursoId }}
      </div>
      <div>
        <label>Materia ID:</label>
        <input type="number"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'docenteIdInput' + Curso.CursoId)"
          [value]="Curso.MateriaId"
          name="MateriaId"
          id="materiaIdInput{{Curso.CursoId}}"
        />
      </div>
      <div>
        <label>Docente ID:</label>
        <input type="number"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'ofertaAcademicaIdInput' + Curso.CursoId)"
          [value]="Curso.DocenteId"
          name="DocenteId"
          id="docenteIdInput{{Curso.CursoId}}"
        />
      </div>
      <div>
        <label>Oferta Académica ID:</label>
        <input type="number"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'cupoInput' + Curso.CursoId)"
          [value]="Curso.OfertaAcademicaId"
          name="OfertaAcademicaId"
          id="ofertaAcademicaIdInput{{Curso.CursoId}}"
        />
      </div>
      <div>
        <label>Cupo:</label>
        <input type="number"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'aulaInput' + Curso.CursoId)"
          [value]="Curso.Cupo"
          name="Cupo"
          id="cupoInput{{Curso.CursoId}}"
        />
      </div>
      <div>
        <label>Aula:</label>
        <input type="text"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'horarioIdInput' + Curso.CursoId)"
          [value]="Curso.Aula"
          name="Aula"
          id="aulaInput{{Curso.CursoId}}"
        />
      </div>
      <div>
        <label>Horario ID:</label>
        <input type="number"
          (keydown.enter)="modificarCurso(Curso.CursoId, $event); nextField($event, 'nextInput' + Curso.CursoId)"
          [value]="Curso.HorarioId"
          name="HorarioId"
          id="horarioIdInput{{Curso.CursoId}}"
        />
      </div>
      <button (click)="borrarCurso(Curso.CursoId)">Borrar curso {{ Curso.CursoId }}</button>
    </li>
  } @empty {
    <li>Nada que mostrar.</li>
  }
  <li class="curso-item">
    <input placeholder="Materia ID" type="number" #materiaIdInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'docenteIdInput')" />
    <input placeholder="Docente ID" type="number" #docenteIdInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'ofertaAcademicaIdInput')" />
    <input placeholder="Oferta Académica ID" type="number" #ofertaAcademicaIdInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'cupoInput')" />
    <input placeholder="Cupo" type="number" #cupoInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'aulaInput')" />
    <input placeholder="Aula" type="text" #aulaInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'horarioIdInput')" />
    <input placeholder="Horario ID" type="number" #horarioIdInput (keydown.enter)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value); nextField($event, 'nextInput')" />
    <button (click)="agregarCurso(materiaIdInput.value, docenteIdInput.value, ofertaAcademicaIdInput.value, cupoInput.value, aulaInput.value, horarioIdInput.value)">Agregar</button>
  </li>
</ul>