<nav class="navbar">
  <div>
    <a href="/" class="navbar-brand"><img
      src="https://www.registro.una.ac.cr/images/Section-2/Anuncios/I%20Ciclo%202025/Datos%20de%20contacto%20web.png"
      alt="Logo de E-Matric"
      class="app-logo"
    /></a>
  </div>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-toggle">☰</label>

  <ul class="nav-menu">
    <li class="nav-item">
      <a>Gestiones ▼</a>
      <ul class="dropdown-menu">
        <li><a  href="matricula/">Matrícula</a></li>
        <li><a href="/curso">Cursos</a></li>
        <li><a href="/materia">Materias</a></li>
        <li><a href="/carrera">Carreras</a></li>
        <li><a href="/periodo-academico">Periodos</a></li>
        <li><a href="/oferta-academica">Oferta academica</a></li>
        <li><a href="/plan-estudio">Plan de estudio</a></li>
        <li><a href="/horario">Horarios</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a>Usuarios ▼</a>
      <ul class="dropdown-menu">
        <li><a href="/usuario">Usuarios</a></li>
        <li><a href="/estudiante">Estudiantes</a></li>
        <li><a href="/docente">Docentes</a></li>
      </ul>
    </li>    
    <li class="nav-item">
      <a>Localización ▼</a>
      <ul class="dropdown-menu">
        <li><a href="/provincias">Provincias</a></li>
        <li><a href="/cantones">Cantones</a></li>
        <li><a href="/distritos">Distritos</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a>Reportes ▼</a>
      <ul class="dropdown-menu">
        <li><a href="/auditoria">Auditorias</a></li>
        <li><a href="/historico-academico">Historial de notas</a></li>
      </ul>
    </li>
    <li class="nav-item"><a href="/contacto">Contacto</a></li>
  </ul>
</nav>


<!-- Contenedor donde se mostrarán los componentes -->
<router-outlet></router-outlet>

