/* Título de la aplicación */
.app-title {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    color: #333;
    flex-grow: 1;
    padding-bottom: 50px;
}

.estudiantes-list {
  list-style-type: none;
  padding: 0;
}

.estudiante-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.estudiante-item div,
.estudiante-item input,
.estudiante-item button {
  flex: 1 1 100px;
  min-width: 100px;
}
