<div class="app-title">
  <h1>{{ title.toUpperCase() }}</h1>
  <p>{{ subtitle }}</p>
</div>

<ul class="cantones-list">
  @for (Canton of Cantones(); track Canton.CantonId) {
    <li>
    {{ Canton.CantonId }}
    <input type="text"
      (keydown.enter)="modificarCanton(Canton.CantonId, $event)"
      [value]="Canton.Canton"
    />
    <button (click)="borrarCanton(Canton.CantonId)">Borra canton {{ Canton.CantonId }}</button>
    </li>
  } @empty {
    <li>Nada que mostrar.</li>
  }
  <li><input placeholder="Agregar" type="text" (keydown.enter)="agregarCanton($event)" /></li>
  </ul>
