.center {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    width: 100%;
    padding: 0px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .left-inputs, .right-inputs {
    display: flex;
    align-items: center;
  }
  
  .input-container label, .input-container input, .input-container button {
    margin: 5px;
  }
  
  .wide-input {
    width: 200px; 
    max-width: 300px;
    padding: 10px;
  }
  
  .small-input {
    width: 100px;
    max-width: 100px; 
    padding: 10px;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Agregar scroll horizontal para tablas grandes */
  }
  
  .body-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .body-table th, .body-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .body-table th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .body-table th.action-col {
    width: 150px; 
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .btn-add {
    background-color: #3461b4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 150px; 
  }
  
  .btn-add:hover {
    background-color: #6dacc9;
  }
  
  .btn-edit {
    background-color: #76bbbb;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10%; /* Rounded corners */
  }

  .btn-edit:hover {
    background-color: #6dacc9;
  }

  .btn-details {
    background-color: #9bbb76;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10%; /* Rounded corners */
  }
  
  .btn-delete {
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
  }
  
  .btn-deactivate {
    background-color:  #c5837e;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
  }
  
  .btn-activate{
    background-color:#22bb67;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
  }
  
  .btn-toggle-deactivate {
    background-color: #c24137e8;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px; /* Reduced padding to make the button smaller */
    font-size: 26px; /* Reduced font size to make the text smaller */
    border-radius: 25%; /* Rounded corners */
    
  }
  
  .btn-toggle-activate {
    background-color: #3a6fac;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px; /* Reduced padding to make the button smaller */
    font-size: 26px; /* Reduced font size to make the text smaller */
    border-radius: 25%; /* Rounded corners */
  }
  
  .btn-edit, .btn-delete {
    margin: 0 5px;
  }

  .btn-small {
    padding: 5px;
    font-size: 12px;
    max-width: 35px;
  }
  
  @media (max-width: 768px) {
    .input-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .left-inputs, .right-inputs {
      width: 100%;
      justify-content: flex-start;
    }
  
    .input-container label, .input-container input, .input-container button {
      width: 100%;
      max-width: none;
    }
  
    .input-container label {
      display: inline-block;
      width: 100px; /* Ancho fijo para las etiquetas */
    }
  
    .wide-input, .small-input {
      width: 100%;
    }
  
    .body-table th, .body-table td {
      font-size: 14px; 
    }
  
    .card {
      width: 90%;
    }
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-content {
    width: 80%; /* Controla el tamaño general del modal */
    max-width: 900px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;  
    display: flex;
    margin: 5% auto;/* Centra el modal horizontalmente */
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  }

  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .modal-content p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
  }

  .modal-content ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scroll bar */
  }

  .modal-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .modal-content li:hover {
    background-color: #f1f1f1;
  }

  .modal-content li span {
    font-size: 16px;
    color: #333;
  }

  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-content .close:hover,
  .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal de detalles de cursos */

  .modal-content-Details {
    width: 70%; /* Ajusta el tamaño general del modal */
    height: 70%; /* Ajusta la altura del modal */
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;  
    display: flex;
    margin: 5% auto; /* Centra el modal horizontalmente */
    flex-direction: column;
    align-items: flex-start; /* Centra el contenido del formulario horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para profundidad */
    overflow-y: auto; /* Añade scroll vertical si el contenido es demasiado grande */
  }

  .modal-content-Details h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .modal-content-Details p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
  }

  .modal-content-Details ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: calc(100% - 150px); /* Ajusta la altura máxima de la lista */
    overflow-y: auto; /* Añade scroll vertical */
  }

  .modal-content-Details li {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de igual tamaño */
    gap: 10px; /* Espacio entre columnas */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .modal-content-Details li:hover {
    background-color: #f1f1f1;
  }

  .modal-content-Details li span {
    font-size: 16px;
    color: #333;
  }

  .modal-content-Details .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-content-Details .close:hover,
  .modal-content-Details .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .form-group-container {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    gap: 20px;
    flex-wrap: wrap; /* Hace que las columnas se ajusten en pantallas pequeñas */
  }
  
  .form-group-column {
    flex: 1;
    min-width: 250px; /* Establece un ancho mínimo para cada columna */
  }
  
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .form-group-container {
      flex-direction: column;
      align-items: center; /* Centra las columnas en pantallas pequeñas */
    }
  }
  
  .swal2-toast {
    font-size: 14px;
    min-width: 200px;
  }
  
  .swal2-toast.swal2-success {
    background-color: #28a745 !important;
    color: white;
  }
  
  .swal2-toast.swal2-error {
    background-color: #dc3545 !important;
    color: white;
  }
  
  .swal2-container .swal2-toast .swal2-success{
    background-color: #28a7467c !important;
  }
  
  .swal2-container .swal2-toast .swal2-error{
    background-color: #ee394b60 !important;
  }
  
  body .swal2-container .swal2-toast .swal2-success {
    background-color: #28a745 !important;
  }
  
  body .swal2-container .swal2-toast .swal2-error {
    background-color: #dc3545 !important;
  }
  
  .swal2-container .swal2-toast .swal2-success {
    background-color: #28a745 !important;
  }
  
  .swal2-container .swal2-toast .swal2-error {
    background-color: #dc3545 !important;
  }

  .course-selection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .available-courses, .assigned-courses {
    flex: 1;
    min-width: 250px;
    max-width: 45%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .available-courses h3, .assigned-courses h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .available-courses ul, .assigned-courses ul {
    list-style-type: none;
    padding: 0;
  }
  
  .available-courses li, .assigned-courses li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .available-courses li:hover, .assigned-courses li:hover {
    background-color: #f1f1f1;
  }
  
  .available-courses button, .assigned-courses button {
    background-color: #3461b4;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    max-width: 35px;
  }
  
  .available-courses button:hover, .assigned-courses button:hover {
    background-color: #6dacc9;
  }
  
  @media (max-width: 768px) {
    .course-selection {
      flex-direction: column;
      gap: 10px;
    }
  
    .available-courses, .assigned-courses {
      max-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .modal-content, .modal-content-Details {
      width: 90%;
      padding: 15px;
    }
  
    .modal-content-Details ul {
      width: 100%;
    }
  }

